@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto:400,400i,700,700i');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

body {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: #d7ebed;
  border-top: 1px solid #c7d5d8;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid #c7d5d8;
  border-radius: 5px;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
  font-style: italic;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
  font-weight: none;
}

.message-username {
  flex: 2;
  font-weight: bold;
}

.navbar {
  background: darkslategray;
  height: 65px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: white;
  display: block;
  float: left;
  text-transform: lowercase;
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  height: 60px;
  line-height: 60px;
  padding-left: 10px;
  text-decoration: none;
}

.navbar-logo {
  width: 50px;
  height: 50px;
  margin-top: 10px
}